.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); /* dark overlay */
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  max-width: 700px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 28px;
  background-color: #527593;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1rem;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #003bb5;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.3rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 70vh;
  }
  .hero-content h1 {
    font-size: 1.9rem;
  }
}
